@import '../../../styles/variables.scss';

.link_container {
    width: 100%;
    border-radius: 10px;
}

.link_img {
    filter: invert(1);
    margin-right: 24px;
    display: flex;
    width: 26px;
    height: 26px;
}

.link {
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1rem;
    border-radius: 10px;
    padding: 16px 16px;
    background-color: $dark;
    font-weight: 700;
    width: 100%;
    &:hover {
        background-color: $transparent;
        cursor: pointer;
    }
}