@import '../../../styles/variables.scss';

.avatar {
    width: 36px;
    height: 36px;
    display: flex;
}

.avatar_container {
    background-color: $tiny;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    overflow: hidden;
    img {
        width: 36px;
        height: 36px;
    }
}