@import '../../../styles/variables.scss';

.avatar {
    display: flex;
    &[data-large="true"] {
        height: 128px;
        width: 128px;
    }
}

.avatar_container {
    background-color: $tiny;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    overflow: hidden;
    &[data-large="true"] {
        height: 128px;
        width: 128px;
    }
    img {
        width: 100%;
        height: 100%;
    }
}