@import '../../../styles/variables.scss';

.link_container {
    width: 100%;
}

.link {
    transition: all .15s ease-in;
    text-decoration: none;
    background-color: $darker;
    color: $tiny;
    display: flex;
    padding: 16px 16px;
    font-weight: 700;
    width: 100%;
    &:hover {
        border-left: 10px solid $blue;
        background-color: $dark;
        cursor: pointer;
    }
}