@import '../../../styles/variables.scss';

.textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid $tiny;
    padding: 12px;
}

.textarea_label {
    font-size: 0.8rem;
    color: $tiny;
}

.textarea_input {
    margin-top: 4px;
    color: white;
    resize: none;
    width: 100%;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1rem;
    &::placeholder {
        font-family: 'Roboto', sans-serif;
    }
}