@import '../../styles/variables.scss';

.sidebar {
    width: 250px;
    background-color: $dark;
}

.sidebar_container {
    width: 100%;
    padding: 16px;
    border-bottom: 1px solid $transparent;
}

.sidebar_contacts {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    a {
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        color: $tiny;
    }
}

.sidebar_copy {
    margin-top: 16px;
    font-size: 14px;
    color: $tiny;
}

.logout {
    align-items: center;
    transition: all .15s ease-in;
    text-decoration: none;
    color: $blue;
    display: flex;
    border-radius: 10px;
    padding: 16px 16px;
    background-color: $dark;
    font-weight: 700;
    width: 100%;
    &:hover {
        background-color: $blue;
        color: white;
        cursor: pointer;
    }
}

.link_img {
    filter: invert(1);
    margin-right: 24px;
    display: flex;
    width: 26px;
    height: 26px;
}