@import '../../styles/variables.scss';

.videos {
    width: 100%;
    display: grid;
    gap: $video-grid-gap;
    row-gap: 32px;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 360px);
    &[data-vertical="true"] {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}