@import '../../styles/variables.scss';

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 56px;
    width: 100%;
    background-color: $dark;
}

.navbar_logobox {
    height: 100%;
    align-items: center;
    display: flex;
}

.navbar_logo {
    text-decoration: none;
    margin-left: 8px;
    font-weight: 700;
    color: white;
    &:hover {
        cursor: pointer;
    }
}

.navbar_login {
    text-decoration: none;
    transition: all .15s ease-in;
    border-radius: 10px;
    border: 1px solid $blue;
    padding: 9px 15px;
    color: $blue;
    font-size: 14px;
    font-weight: 500;
    &:hover {
        background-color: #0481b639;;
        cursor: pointer;
    }
}