@import './variables.scss';

.studiopage {
    height: calc(100vh - 56px);
    background-color: $darker;
    flex: 1;
}

.studiopage_w {
    padding: 24px;
}

.studiopage_cards {
    display: flex;
}

.studiopage_title {
    font-size: 1.8rem;
    font-weight: 500;
    color: white;
    margin-bottom: 16px;
}

.studiopage_main_card {
    margin-right: 16px;
    border-radius: 10px;
    background-color: $transparent;
    width: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    aspect-ratio: 5/7;
    height: auto;
}

.studiopage_main_upload {
    font-weight: 500;
    color: $tiny;
    text-align: center;
    margin-bottom: 12px;
}

.studiopage_main_upload_btn {
    background-color: $blue_hover;
    border-radius: 10px;
    transition: all .15s ease-in;
    border-radius: 5px;
    padding: 15px 40px;
    color: white;
    &:hover {
        cursor: pointer;
        background-color: $blue;
    }
}